@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .translate-z-0 {
    transform: translateZ(0);
  }
}
@layer components {
  /* html {
    scroll-behavior: smooth;
  } */
  body {
    /* letter-spacing: -0.02em; */
  }
  h1,
  .h1 {
    /* tracking-tight */
    @apply text-4xl md:text-5xl lg:text-7xl font-display font-semibold leading-[1.11] md:leading-[1.11] lg:leading-[1.11];
  }
  h2,
  .h2 {
    @apply text-3xl md:text-4xl font-display font-bold;
  }
  h3,
  .h3 {
    @apply text-xl md:text-2xl font-display font-semibold tracking-tight;
  }
  h4,
  .h4 {
    @apply text-sm md:text-sm font-sans font-semibold uppercase tracking-wide;
  }
  .big-text {
    /* @apply leading-normal md:leading-normal lg:leading-normal tracking-tight font-semibold text-3xl md:text-4xl font-display; */
    /* tracking-tight */
    @apply leading-normal md:leading-normal lg:leading-normal font-medium text-2xl md:text-3xl font-display;
  }
  /* .big-text {
    @apply leading-normal md:leading-normal lg:leading-normal tracking-tight font-semibold text-2xl md:text-3xl font-sans;
  } */
  .body-text {
    @apply text-base leading-7 md:text-xl md:leading-8;
  }
  .p-header {
    @apply pt-20 pb-14 md:pt-28 md:pb-24 lg:pt-32 lg:pb-28;
  }
  .p-homepage-header {
    @apply pt-20 pb-14 md:pt-28 md:pb-24 lg:pt-[10vw] lg:pb-[10vw];
  }
  .p-content {
    @apply py-12 md:py-16 lg:py-20;
  }
  .mt-content-node {
    @apply mt-3 md:mt-4 lg:mt-6;
  }
  .btn {
    @apply py-2 px-4 rounded-lg font-display font-bold text-base tracking-wide text-white bg-dark-blue-900 hover:bg-blue-800 active:bg-blue-900 inline-block transition-all;
    @apply inline-flex items-center;
    svg {
      @apply ml-2 block  translate-y-0 translate-x-0 duration-300;
    }
    &:hover {
      svg {
        @apply translate-y-0 translate-x-1;
      }
    }
  }
  .underline-link-light {
    @apply transition-all duration-100 -mx-2 px-2 py-1 rounded-xl underline underline-offset-2 decoration-slate-200 hover:decoration-transparent hover:bg-black/5;
  }
  .underline-link-dark {
    @apply transition-all duration-100 underline underline-offset-2 decoration-slate-600 hover:decoration-transparent hover:text-white hover:bg-white/10 -mx-2 px-2 -my-1 py-1 rounded-xl;
  }

  .main-container {
    @apply px-4 md:px-6 mx-auto;
    @apply max-w-full lg:w-[78rem];
  }
  .content {
    @apply text-gray-800;
    a {
      @apply text-dark-blue-900 underline underline-offset-4 decoration-blue-300 hover:text-blue-800;
    }
    blockquote p {
      @apply text-xl md:text-2xl font-display font-semibold;
    }
    
    p, ul, ol {
      @apply body-text;
    }
    
    [class^="text"] > p {
      font-size: unset;
    }
   
    
    ul {
      list-style-type: disc;
      @apply mt-3 md:mt-4 pl-8;
    }

    li {
      @apply mt-2 first:mt-0;
    }
    
    h2 {
      @apply mt-8 first:mt-0 text-slate-800;
    }

    h3 {
      @apply mt-4 text-slate-800;
    }

    h4 {
      @apply mt-4 text-gray-500;
    }

    h2 + p, h3 + p, p + p, p + ul {
      @apply mt-content-node;
    }

    h4 + p, h4 + ul {
      @apply mt-1;
      @apply text-base leading-7;
    }
  }
  .project-grid {
    @apply grid grid-cols-3 gap-x-4 text-gray-800;
    
    > * {
      @apply col-span-3 col-start-1 lg:col-span-2 lg:col-start-2;
    }
    a {
      @apply underline-link-light;
    }
    blockquote p {
      @apply text-xl md:text-2xl font-display font-semibold;
    }
    
    p, ul, ol {
      @apply body-text;
    }
    
    [class^="text"] > p {
      font-size: unset;
    }
   
    
    ul {
      list-style-type: disc;
      @apply mt-3 md:mt-4 pl-8;
    }

    li {
      @apply mt-2 first:mt-0;
    }

 

    h3 {
      @apply mt-4 text-slate-800;
    }

    h4 {
      @apply mt-4 text-gray-500;
    }

    .content-node {
      @apply mt-content-node;
    }

    h3 + p, p + p, p + ul {
      @apply mt-content-node;
    }

    h4 + p, h4 + ul {
      @apply mt-1;
      @apply text-base leading-7;
    }

    .full {
      @apply col-span-3 col-start-1;
    }

    /* > .content-grid-item, */
    > .full {
      @apply mt-6 md:mt-12;
    }
    > ul,
    > blockquote,
    > p,
    > h3,
    > .box,
    > .content-node
    {
      @apply mt-6 md:mt-12;
    }

    figure > div > p {
      line-height: 0;
    }

    h2 {
      @apply mt-0 lg:col-span-1 lg:col-start-1 pt-12 md:pt-16 lg:pt-24 text-slate-900;
      & + *:not(.full) {
        @apply lg:mt-0 lg:pt-24;
      }
      /* &:first-child + * {
        @apply lg:mt-0 lg:pt-0;
      } */
    }

    .persona {
      &-2 {
        @apply grid grid-cols-3 gap-x-2 relative;
        @apply text-base leading-7;
        li {
          @apply mt-1 first:mt-0;
        }
        > * {
          @apply col-span-3;
        }
        .image {
          @apply col-span-1 col-start-3 absolute top-4 right-0;
        }
        .image + * {
          @apply mt-0;
        }
        h3, h4 {
          &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
            @apply col-span-2 col-start-1;
            & + p {
              @apply col-span-2 col-start-1;
            }
          }
        }
      }
    }
   

 
  }
}

@tailwind variants;
