@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading="lazy"] {
      clip-path: inset(0.6px);
    }
  }
}
@layer utilities {
  .translate-z-0 {
    transform: translateZ(0);
  }
  .clip-path-paper-fold {
    clip-path: polygon(calc(100% - 2rem) 0, 100% 2rem, 100% 100%, 0 100%, 0 0);
  }
  .mt-content-node {
    @apply mt-4 md:mt-[1.25rem] lg:mt-6 empty:mt-0;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
@layer components {
  /* html {
    scroll-behavior: smooth;
  } */
  body {
    /* letter-spacing: -0.02em; */
  }
  h1,
  .h1 {
    /* tracking-tight */
    @apply text-4xl md:text-5xl lg:text-7xl font-semibold leading-[1.11] md:leading-[1.11] lg:leading-[1.11] font-display;
  }
  h2,
  .h2 {
    @apply text-2xl md:text-3xl leading-tight md:leading-tight font-semibold font-display text-slate-800;
  }
  h3,
  .h3 {
    @apply text-lg md:text-xl leading-tight md:leading-tight font-semibold font-display text-slate-800;
  }
  h4,
  .h4 {
    @apply text-xs md:text-sm font-display font-medium uppercase tracking-wide;
  }
  .big-body-text {
    /* @apply leading-normal md:leading-normal lg:leading-normal tracking-tight font-semibold text-3xl md:text-4xl font-display; */
    /* tracking-tight */
    @apply leading-normal md:leading-normal lg:leading-normal text-base md:text-xl;
  }
  /* .big-text {
    @apply leading-normal md:leading-normal lg:leading-normal tracking-tight font-semibold text-2xl md:text-3xl font-sans;
  } */
  .body-text {
    @apply text-base leading-relaxed md:text-lg md:leading-relaxed;
  }
  .p-header {
    @apply pt-[5rem] pb-14 md:pt-32 md:pb-24 lg:pt-36 lg:pb-28;
  }
  .p-homepage-header {
    @apply pt-20 pb-14 md:pt-28 md:pb-24 lg:pt-[10vw] lg:pb-[10vw];
  }
  .page-description {
    @apply text-base font-normal leading-normal lg:leading-normal md:leading-normal md:text-xl lg:text-xl;
  }

  .sub-heading {
    @apply font-display text-sm md:text-base font-medium tracking-wide uppercase text-gray-500;
  }
  .muted-text {
    @apply text-sm md:text-base opacity-60;
  }
  .p-content {
    /*@apply py-12 md:py-16 lg:py-20;*/
    @apply py-8 md:py-16 lg:py-20;
  }
  .px-container {
    @apply px-4 md:px-6;
  }
  .max-w-main-container {
    @apply max-w-full lg:w-[76rem];
  }
  .main-container {
    @apply px-container mx-auto;
    @apply max-w-main-container;
  }
  .max-w-content-container {
    @apply max-w-[50rem];
  }
  .content-container {
    @apply max-w-content-container px-container mx-auto;
  }
  .project-grid {
    /*@apply grid grid-cols-3 gap-x-4 text-gray-800;*/
    @apply text-gray-800;
    @apply flex flex-col items-center;
    .full {
      width: 100%;
    }
    > *:not(.full) {
      /*@apply col-span-3 col-start-1 lg:col-span-2 lg:col-start-2; */
      @apply w-full max-w-content-container;
    }
    blockquote p {
      @apply text-xl md:text-2xl font-semibold;
    }

    p,
    ul,
    ol {
      @apply body-text;
    }

    [class^="text"] > p {
      font-size: unset;
    }

    ul {
      list-style-type: disc;
      /* @apply mt-3 md:mt-4 */
      @apply pl-8;
    }

    li {
      @apply mt-2 first:-mt-1 md:first:-mt-2;
    }

    h3 {
      @apply mt-8 md:mt-12 -mb-1 first:mt-0;
    }

    h4 {
      @apply mt-4 text-gray-500;
    }

    .content-node {
      @apply mt-content-node;
    }

    /* h3 + p, p + p, p + ul {
      @apply mt-content-node;
    } */

    h4 + p,
    h4 + blockquote,
    h4 + ol,
    h4 + ul {
      @apply mt-1;
      @apply text-base leading-7;
    }

    .no-first-child-mt {
      > *:first-child {
        @apply mt-0;
      }
    }

    ol,
    ul,
    blockquote,
    p,
    .content-node > .box:not(:first-child) {
      @apply mt-content-node;
    }

    blockquote,
    .box {
      & > ul:first-child,
      & > p:first-child,
      & > .content-node:first-child {
        @apply mt-0;
      }
    }

    /* .full {
      @apply col-span-3 col-start-1;
    } */

    > .full {
      @apply mt-content-node pt-3;
    }

    figure > div > p {
      line-height: 0;
    }

    h2 {
      /* @apply mt-0 pt-12 md:pt-16 lg:pt-20 md:pr-2; */
      /* @apply lg:col-span-1 lg:col-start-1 text-slate-900; */
      @apply mt-10 md:mt-16 lg:mt-20 first:mt-0;
      /* & + *:not(.full) {
        @apply pt-0 lg:mt-0  lg:pt-[5.4rem];
      } */
    }
    .persona-1 {
      .image {
        @apply rounded-md overflow-hidden;
      }
      h3 {
        @apply mt-content-node;
      }
    }

    .persona {
      &-2 {
        @apply relative;
        /* @apply grid grid-cols-3 gap-x-2 relative; */
        p,
        ul,
        li {
          @apply text-base md:text-base leading-7;
        }
        li {
          @apply mt-1 first:mt-0;
        }
        .image {
          @apply float-right ml-4 mb-4 overflow-hidden;
          * {
            max-width: 100%;
          }
        }
        .image + * {
          @apply mt-0;
        }
        /* > *:not(.image) { */
        /* &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) { */
        /* width: calc(100% - 160px); */
        /* & + p {
              @apply col-span-2 col-start-1;
            } */
        /* } */
        /* } */
      }
    }
  }
}

@tailwind variants;
